Repository kuma0328/web3hackathon, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, document, server, infra, client

add: server init
  server/.env.local
  server/database/Dockerfile
  server/database/init/1_create_table.sql
  server/database/init/2_insert_data.sql
  server/database/mysql/conf/my.cnf
  server/database/mysql/sql/1_create_table.sql
  server/database/mysql/sql/2_insert_data.sql
  server/docker/docker-compose.local.database.yml
  server/docker/docker-compose.local.server.yml
  server/src/Dockerfile
  server/src/config/dsn.go
  server/src/config/dsn_test.go
  server/src/config/port.go
  server/src/go.mod
  server/src/go.sum
  server/src/infrastructure/database/database.go
  server/src/main.go
  server/src/presentation/router/health.go
  server/src/presentation/router/middleware.go
  server/src/presentation/router/router.go
  server/src/utils/helper/env.go
  server/src/utils/helper/env_test.go
Labels: server, infra

add: domain object
  server/src/domain/entity/comment.go
  server/src/domain/entity/community.go
  server/src/domain/entity/post.go
  server/src/domain/entity/recipe.go
  server/src/domain/entity/user.go
Labels: none

update: domain object
  server/src/domain/entity/comment.go
  server/src/domain/entity/community.go
  server/src/domain/entity/post.go
  server/src/domain/entity/recipe.go
  server/src/domain/entity/user.go
Labels: none

add: community get api
  server/.gitignore
  server/database/mysql/sql/1_create_table.sql
  server/database/mysql/sql/2_insert_data.sql
  server/docker/docker-compose.local.server.yml
  server/src/.air.toml
  server/src/Dockerfile.dev
  server/src/domain/entity/comment.go
  server/src/domain/entity/community.go
  server/src/domain/entity/post.go
  server/src/domain/entity/recipe.go
  server/src/domain/entity/user.go
  server/src/domain/repository/community.go
  server/src/infrastructure/persistance/community.go
  server/src/main.go
  server/src/presentation/handler/community.go
  server/src/presentation/handler/recipe.go
  server/src/presentation/handler/user.go
  server/src/presentation/router/community.go
  server/src/usecase/community.go
Labels: server, infra

setup:frontからclientへの変更等
  client/.eslintrc.json
  client/.gitignore
  client/.gitkeep
  client/.vscode/.settings.json
  client/README.md
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/pages/_app.tsx
  client/pages/index.tsx
  client/postcss.config.js
  client/public/favicon.ico
  client/public/vercel.svg
  client/styles/globals.css
  client/tailwind.config.js
  client/tsconfig.json
  client/yarn.lock
Labels: client

delete front
  front/.eslintrc.json
  front/.gitignore
  front/.vscode/.settings.json
  front/README.md
  front/next.config.js
  front/package-lock.json
  front/package.json
  front/pages/_app.tsx
  front/pages/index.tsx
  front/postcss.config.js
  front/public/favicon.ico
  front/public/vercel.svg
  front/styles/globals.css
  front/tailwind.config.js
  front/tsconfig.json
  front/yarn.lock
Labels: none

add: community api
  server/src/domain/repository/community.go
  server/src/infrastructure/persistance/community.go
  server/src/presentation/handler/community.go
  server/src/presentation/router/community.go
  server/src/usecase/community.go
Labels: none

domain/repository 作成
  server/src/domain/repository/user.go
Labels: none

usecase 作成
  server/src/domain/repository/user.go
  server/src/usecase/user.go
Labels: none

汎用error レスポンス 作成
  server/src/utils/errorResponse/error_response.go
Labels: none

error infra 作成
  server/src/error/infra/error.go
Labels: none

error usecaseレスポンス
  server/src/error/usecase/error.go
  server/src/usecase/user.go
Labels: none

sql 作成
  server/database/mysql/sql/1_create_table.sql
  server/src/usecase/user.go
Labels: none

テーブル名変更
  server/database/mysql/sql/1_create_table.sql
Labels: none

usecase user 作成C
  server/src/usecase/user.go
Labels: none

user infra
  server/src/infrastructure/persistance/user.go
Labels: none

infrastructure に名前変えた
  server/src/error/infrastructure/error.go
Labels: none

package 名前へんこう
  server/src/error/infrastructure/error.go
  server/src/error/usecase/error.go
Labels: none

usecase の error のリターン変更した
  server/src/usecase/user.go
Labels: none

usecase error レスポンス変更
  server/src/error/usecase/error.go
Labels: none

user infra
  server/src/infrastructure/persistance/user.go
  server/src/usecase/user.go
Labels: none

sql インデントそろえた
  server/database/mysql/sql/1_create_table.sql
Labels: none

front/feat:basePartsの作成
  client/.eslintrc.json
  client/components/BaseParts/Button.tsx
  client/components/BaseParts/TypoGraphy.tsx
  client/pages/index.tsx
  client/tailwind.config.js
Labels: client

feat:base-formの追加
  client/components/BaseParts/Board.tsx
  client/components/BaseParts/Button.tsx
  client/components/BaseParts/Input.tsx
  client/components/User/Form.tsx
  client/pages/user/index.tsx
  client/pages/user/signin.tsx
  client/pages/user/signup.tsx
Labels: none

front/feat:user-form分割
  client/components/BaseParts/Board.tsx
  client/components/BaseParts/Input.tsx
  client/components/BaseParts/TypoGraphy.tsx
  client/components/User/Form.tsx
  client/components/Wrapper/Page.tsx
  client/pages/user/signin.tsx
  client/pages/user/signup.tsx
Labels: none

front/feat:ユーザー詳細ページの作成
  client/components/Wrapper/Page.tsx
  client/pages/user/index.tsx
  client/styles/globals.css
Labels: none

front/feat:動的ルーティングの追加
  client/pages/user/[name].tsx
Labels: none

improve:github issue && pull request
  .github/ISSUE_TEMPLATE/Bug.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

improve:todo templeteの追加
  .github/ISSUE_TEMPLATE/Bug.yml
  .github/ISSUE_TEMPLATE/Todo.yml
Labels: none

improve:templateの追加
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/client.md
  .github/PULL_REQUEST_TEMPLATE/other.md
  .github/PULL_REQUEST_TEMPLATE/server.md
Labels: none

fix:bug reportが表示されない
  .github/ISSUE_TEMPLATE/Bug.yml
Labels: none

fix:いろいろ修正
  .github/ISSUE_TEMPLATE/Bug.yml
  .github/ISSUE_TEMPLATE/Todo.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template_client.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template_server.md
Labels: none

feat:community componentの作成
  client/components/Community/BelongingCommunity.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/components/Wrapper/Page.tsx
  client/pages/community/[id].tsx
  client/pages/community/index.tsx
  client/pages/user/[name].tsx
  client/pages/user/signin.tsx
  client/pages/user/signup.tsx
Labels: none

feat:communityページの作成
  client/components/BaseParts/Board.tsx
  client/components/BaseParts/TypoGraphy.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/pages/community/index.tsx
Labels: none

fix:communityページの微調整とcomponent分割
  client/components/BaseParts/Descriptions.tsx
  client/components/BaseParts/LinkTo.tsx
  client/components/Community/BelongingCommunity.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/pages/community/index.tsx
  client/pages/user/[name].tsx
Labels: none

feat:community詳細ページUI
  client/components/Chats/Chat.tsx
  client/components/Chats/ChatsBoard.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/pages/community/[id].tsx
  client/pages/user/[name].tsx
Labels: none

user dto 作成
  server/src/infrastructure/persistance/user.go
Labels: none

feat:state管理ライブラリの追加
  client/components/Chats/Chat.tsx
  client/components/Chats/ChatsBoard.tsx
  client/package.json
  client/stores/SelectingChatStore.ts
  client/yarn.lock
Labels: client

crud 完成 infra
  server/src/infrastructure/persistance/community.go
  server/src/infrastructure/persistance/user.go
Labels: none

id int に変更
  server/src/domain/repository/user.go
  server/src/infrastructure/persistance/user.go
  server/src/usecase/user.go
Labels: none

.github/labeler.yml:

ci:
  - '.github/*.yml'
  - '.github/workflows/**/*'

document:
  - 'doc/*'

server:
  - 'server/*'

infra:
  - 'server/docker/*'
  - 'server/database/*'

client:
  - 'client/*'
