Repository kuma0328/web3hackathon, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, document, server, infra, client

passWord管理は別の関数で使用かな
  server/src/infrastructure/persistance/user.go
Labels: none

exec context にする
  server/src/infrastructure/persistance/user.go
Labels: none

error response いらない説
  server/src/utils/errorResponse/error_response.go
Labels: none

handler 少し
  server/src/presentation/handler/user.go
Labels: none

getuser byid に変更
  server/src/domain/repository/user.go
  server/src/infrastructure/persistance/user.go
  server/src/usecase/user.go
Labels: none

get user by mail 作成C
  server/src/domain/repository/user.go
  server/src/infrastructure/persistance/user.go
  server/src/usecase/user.go
Labels: none

usecase
  server/src/domain/repository/user.go
  server/src/infrastructure/persistance/user.go
  server/src/usecase/user.go
Labels: none

feat:community show UI構築
  client/components/Chats/Chat.tsx
  client/components/Chats/ChatsBoard.tsx
  client/components/Chats/Messages/Message.tsx
  client/components/Chats/Messages/Messages.tsx
  client/components/Community/Community.tsx
  client/components/Wrapper/Page.tsx
  client/pages/community/[id].tsx
  client/pages/community/index.tsx
Labels: none

微調整
  client/components/BaseParts/Board.tsx
  client/components/BaseParts/Descriptions.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/pages/community/[id].tsx
Labels: none

user-test 書いたC
  server/src/go.mod
  server/src/go.sum
  server/src/infrastructure/persistance/user_test.go
Labels: none

add: get recipe api
  server/database/mysql/sql/1_create_table.sql
  server/database/mysql/sql/3_create_recipe_table.sql
  server/database/mysql/sql/4_insert_recipe_data.sql
  server/src/domain/repository/recipe.go
  server/src/domain/repository/recipe_step.go
  server/src/domain/repository/spice.go
  server/src/infrastructure/persistance/recipe.go
  server/src/infrastructure/persistance/recipe_step.go
  server/src/infrastructure/persistance/spice.go
  server/src/main.go
  server/src/presentation/handler/recipe.go
  server/src/presentation/router/health.go
  server/src/presentation/router/recipe.go
  server/src/usecase/recipe.go
Labels: none

feat:おcmmunity詳細ページの完成
  client/components/Chats/Messages/Inputs.tsx
  client/components/Chats/Messages/Messages.tsx
  client/pages/community/[id].tsx
  client/stores/ChatContentStore.ts
Labels: none

update user test
  server/src/infrastructure/persistance/user.go
  server/src/infrastructure/persistance/user_test.go
Labels: none

add: post recipe api
  server/src/domain/repository/recipe.go
  server/src/infrastructure/persistance/recipe.go
  server/src/presentation/handler/community.go
  server/src/presentation/handler/recipe.go
  server/src/presentation/router/community.go
  server/src/presentation/router/recipe.go
  server/src/usecase/recipe.go
Labels: none

add: post spice, recipe step api
  server/src/domain/repository/recipe_step.go
  server/src/domain/repository/spice.go
  server/src/infrastructure/persistance/recipe_step.go
  server/src/infrastructure/persistance/spice.go
  server/src/main.go
  server/src/presentation/handler/recipe.go
  server/src/presentation/handler/recipe_step.go
  server/src/presentation/handler/spice.go
  server/src/presentation/router/recipe_step.go
  server/src/presentation/router/spice.go
  server/src/usecase/recipe_step.go
  server/src/usecase/spice.go
Labels: none

refactoring:命名の変更と不要な部分の削除
  client/components/BaseParts/Board.tsx
  client/components/Chats/Chats.tsx
  client/components/Chats/Comments/Comment.tsx
  client/components/Chats/Comments/CommentInputs.tsx
  client/components/Chats/Comments/Comments.tsx
  client/components/Chats/Messages/Messages.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/pages/community/[id].tsx
Labels: none

feat:routingの追加
  client/pages/community/[communityId]/index.tsx
  client/pages/community/[communityId]/recipe.tsx
  client/tsconfig.json
Labels: client

get user test
  server/src/infrastructure/persistance/user_test.go
Labels: none

handler user
  server/src/presentation/handler/user.go
Labels: none

sql 変更
  server/database/mysql/sql/1_create_table.sql
  server/src/infrastructure/persistance/auth.go
Labels: none

authentic sign up 完成
  server/src/go.mod
  server/src/go.sum
  server/src/infrastructure/persistance/auth.go
  server/src/infrastructure/persistance/redis.go
  server/src/infrastructure/persistance/user.go
  server/src/presentation/handler/user.go
  server/src/presentation/router/auth.go
Labels: none

login user
  server/src/domain/repository/user.go
  server/src/infrastructure/persistance/user.go
  server/src/presentation/handler/user.go
  server/src/usecase/user.go
Labels: none

feat:comunity/recipe stateの追加
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/components/Recipe/CommunityInputs.tsx
  client/components/Recipe/Recipe.tsx
  client/components/Recipe/RecipeInputs.tsx
  client/pages/community/[communityId]/index.tsx
  client/pages/community/[communityId]/recipe.tsx
  client/pages/community/new.tsx
  client/stores/CommunityStore.ts
  client/stores/RecipeStore.ts
Labels: none

feat:community formのstate管理
  client/components/Recipe/CommunityInputs.tsx
  client/components/Recipe/RecipeInputs.tsx
  client/stores/RecipeStore.ts
Labels: none

delete 以外のhandler 完成
  server/src/infrastructure/persistance/auth.go
  server/src/infrastructure/persistance/user.go
  server/src/presentation/handler/user.go
  server/src/presentation/router/auth.go
  server/src/usecase/user.go
Labels: none

redis docker
  server/docker/docker-compose.local.redis.yml
  server/docker/docker-compose.local.yml
  server/redis/dockerfile
Labels: infra

redis make file
  server/Makefile
  server/docker/docker-compose.local.redis.yml
Labels: server, infra

router 完成
  server/src/presentation/router/user.go
Labels: none

feat:communityUIの完成
  client/components/Recipe/CreateButton.tsx
  client/components/Recipe/DeleteButton.tsx
  client/components/Recipe/RecipeInputs.tsx
  client/pages/community/new.tsx
Labels: none

update:ReadMe更新
  client/README.md
Labels: client

fix:UIのずれ微調整
  client/pages/community/new.tsx
Labels: none

認証できた
  server/database/mysql/sql/1_create_table.sql
  server/src/infrastructure/persistance/auth.go
  server/src/infrastructure/persistance/user.go
  server/src/main.go
  server/src/presentation/router/auth.go
  server/src/presentation/router/community.go
Labels: none

sesson を presenに
  server/database/mysql/sql/1_create_table.sql
  server/database/mysql/sql/5_create_user_table.sql
  server/docker/docker-compose.local.redis.yml
  server/src/infrastructure/persistance/auth.go
  server/src/infrastructure/persistance/user.go
  server/src/presentation/handler/user.go
  server/src/presentation/router/auth_middleware.go
  server/src/presentation/router/user.go
  server/src/presentation/session/redis.go
  server/src/presentation/session/session.go
  server/src/usecase/user.go
Labels: infra

sql
  server/database/mysql/sql/1_create_table.sql
Labels: none

sql
  server/database/mysql/sql/1_create_table.sql
Labels: none

user updarte
  server/src/infrastructure/persistance/user.go
  server/src/presentation/handler/user.go
  server/src/presentation/router/user.go
Labels: none

user delete
  server/src/presentation/handler/user.go
  server/src/presentation/router/user.go
Labels: none

package:axiosとract-queryの追加
  client/package.json
  client/yarn.lock
Labels: client

レビュー修正
  server/src/infrastructure/persistance/auth.go
  server/src/infrastructure/persistance/user.go
  server/src/infrastructure/persistance/user_test.go
  server/src/presentation/handler/user.go
  server/src/presentation/handler/user_test.go
  server/src/presentation/router/auth_middleware.go
Labels: none

レビュー修正
  server/src/infrastructure/persistance/user.go
Labels: none

.github/labeler.yml:

ci:
  - '.github/*.yml'
  - '.github/workflows/**/*'

document:
  - 'doc/*'

server:
  - 'server/*'

infra:
  - 'server/docker/*'
  - 'server/database/*'

client:
  - 'client/*'
