Repository kuma0328/web3hackathon, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, document, server, infra, client

feat:react-query繋ぎこみ
  client/hooks/Health/useGetHealth.ts
  client/pages/_app.tsx
  client/pages/index.tsx
  client/repositories/getRequest.ts
Labels: none

動かないテストをコメントアウト
  server/src/infrastructure/persistance/user_test.go
Labels: none

動かないテストがあってもいいかもしれない
  server/src/presentation/handler/user_test.go
Labels: none

feat:animationの実装
  client/package.json
  client/pages/index.tsx
  client/yarn.lock
Labels: client

post usecase だけ作りました
  server/src/domain/entity/post.go
  server/src/domain/repository/post.go
  server/src/error/usecase/error.go
  server/src/usecase/post.go
Labels: none

infrastructure post
  server/src/infrastructure/persistance/post.go
Labels: none

API community/all とりあえず動く
  server/src/domain/repository/community.go
  server/src/infrastructure/persistance/community.go
  server/src/presentation/handler/community.go
  server/src/presentation/router/community.go
  server/src/usecase/community.go
Labels: none

post sql
  server/database/mysql/sql/6_create_post_table.sql
Labels: none

api community/all
  server/bash.exe.stackdump
  server/src/presentation/handler/community.go
Labels: server

infra crud postできた
  server/database/mysql/sql/6_create_post_table.sql
  server/src/domain/entity/post.go
  server/src/infrastructure/persistance/post.go
Labels: none

handler
  server/src/infrastructure/persistance/post.go
  server/src/presentation/handler/post.go
Labels: none

feat:homepageの作成
  client/components/Home/SwipeImg.tsx
  client/hooks/useGetwidth.ts
  client/pages/index.tsx
  client/public/images/1.jpg
  client/public/images/10.jpg
  client/public/images/11.jpg
  client/public/images/12.jpg
  client/public/images/13.jpg
  client/public/images/2.jpg
  client/public/images/3.jpg
  client/public/images/4.jpg
  client/public/images/5.jpg
  client/public/images/6.jpg
  client/public/images/7.jpg
  client/public/images/8.jpg
  client/styles/home.css
Labels: none

api community/all 関数切り分け,謎ファイル削除
  server/bash.exe.stackdump
  server/src/presentation/handler/community.go
Labels: server

git pull とエラー文修正
  server/src/infrastructure/persistance/community.go
Labels: none

wip:svg追加途中
  client/components/ Header/ Header.tsx
  client/components/Home/Svg.tsx
  client/components/Home/SwipeImg.tsx
  client/components/Wrapper/Page.tsx
  client/pages/community/index.tsx
  client/public/images/Logo.png
Labels: none

handler
  server/src/main.go
  server/src/presentation/handler/post.go
  server/src/presentation/router/post.go
Labels: none

feat:stateの保存形式をfileにする
  client/components/Recipe/CommunityInputs.tsx
  client/stores/CommunityStore.ts
Labels: none

error debug
  server/database/mysql/sql/6_insert_user_data.sql
  server/database/mysql/sql/7_create_post_table.sql
  server/docker/docker-compose.local.redis.yml
  server/src/infrastructure/persistance/post.go
  server/src/presentation/handler/post.go
  server/src/presentation/router/post.go
Labels: infra

post handler
  server/database/mysql/sql/7_create_post_table.sql
  server/src/infrastructure/persistance/post.go
  server/src/presentation/handler/post.go
  server/src/presentation/router/post.go
  server/src/usecase/post.go
Labels: none

log 消し
  server/src/infrastructure/persistance/post.go
  server/src/presentation/handler/post.go
  server/src/usecase/post.go
Labels: none

add:doc
  server/docker/docker-compose.local.redis.yml
Labels: infra

add: doc
  doc/server/api.md
  doc/server/getting_started.md
Labels: none

wip:user api周り
  client/components/BaseParts/Input.tsx
  client/components/Community/BelongingCommunity.tsx
  client/components/User/Form.tsx
  client/components/Wrapper/Page.tsx
  client/hooks/User/useGetUser.ts
  client/hooks/User/useLogOut.ts
  client/hooks/User/useLogin.ts
  client/hooks/User/useSignUp.ts
  client/pages/index.tsx
  client/pages/user/[name].tsx
  client/pages/user/signin.tsx
  client/pages/user/signup.tsx
  client/repositories/postRequest.ts
  client/stores/UserForm.ts
Labels: none

wip:community
  client/hooks/Community/useGetCommunityAll.ts
Labels: none

wip:community2
  client/components/BaseParts/LinkTo.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/hooks/Community/useGetCommunityById.ts
  client/pages/community/[communityId]/index.tsx
  client/pages/community/[communityId]/recipe.tsx
Labels: none

apiドキュメント
  doc/server/api.md
  server/src/presentation/handler/post.go
Labels: none

wip:api-connect
  client/components/BaseParts/LinkTo.tsx
  client/pages/community/[communityId]/recipe.tsx
Labels: none

feat:mock
  client/components/Chats/Comments/Comment.tsx
  client/components/Chats/Comments/Comments.tsx
  client/components/Community/BelongingCommunity.tsx
  client/components/Community/Communities.tsx
  client/components/Community/Community.tsx
  client/components/Recipe/Recipe.tsx
  client/pages/community/[communityId]/index.tsx
  client/pages/community/[communityId]/recipe.tsx
  client/pages/community/index.tsx
  client/pages/index.tsx
  client/pages/user/[name].tsx
  client/public/images/mock/1.jpg
  client/public/images/mock/2.jpg
  client/public/images/mock/3.jpg
  client/public/images/mock/user.png
Labels: none

feat:web3-connect
  client/components/Chats/Comments/CommentInputs.tsx
  client/components/User/Form.tsx
  client/components/User/Meta.tsx
  client/components/Wrapper/Page.tsx
  client/package.json
  client/pages/_app.tsx
  client/web3/initialize-sdk.ts
  client/yarn.lock
Labels: client

docs
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

ci:
  - '.github/*.yml'
  - '.github/workflows/**/*'

document:
  - 'doc/*'

server:
  - 'server/*'

infra:
  - 'server/docker/*'
  - 'server/database/*'

client:
  - 'client/*'
